[alias]
        bl = "!git fetch && git branch -a --sort=authordate --color"
        bll = for-each-ref --sort=-committerdate refs/heads/ --format='%(color:$
        blr = "!git fetch; git branch -r --sort=authordate --no-merged master |$
        co = "!git fetch; git checkout"
        lg = log --pretty=format:'%C(yellow)%h %Cred%ad %C(cyan)%an%Cgreen%d %C$
        sl = "!git stash list --date=local --since=\"7 days ago\""
        st = "!git fetch; git status"
        ds = diff --staged
        dc = show
[core]
        excludesfile = /Users/shawntaylor/.gitignore_global
        editor = nano
[user]
        name = Shawn Taylor
        email = [WORK EMAIL]
[commit]
        template = /Users/shawntaylor/.stCommitMsg
[fetch]
        prune = true
[includeIf "gitdir:Shawn/"]
        path = ~/.gitconfig.personal
